<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DnD Store</span>
    <span class="toolbar-spacer"></span>
    <button routerLink="/admin" mat-button><mat-icon>account_box</mat-icon>Administrar</button>
  </mat-toolbar-row>
</mat-toolbar>
<span fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="margin-top:10px;">
<app-item *ngFor="let item of items" (productAdded)="AddItemToCar($event,item.id, item.name, item.description, 1, item.price, item.imgUrl)" [id]="item.id" [name]="item.name" [imgUrl]="item.imgUrl" [description]="item.description" [price]="item.price"></app-item>
</span>
<span>
  <app-shopcar (productRemoved)="removeItem($event)" [purcahsedItems]="purcahsedItems" [totalShopingCar]="totalShopingCar"></app-shopcar>
</span>
