<mat-spinner *ngIf="cost==0"></mat-spinner>
<script *ngIf="cost==0">
  location.reload();
</script>
<mat-card class="mycard" *ngIf="cost>0">
  <mat-card-content fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="10px">
    <span>
    <h2>
      Subtotal: {{cost}}
    </h2>
    <h2>
      Iva: $0
    </h2>
    <h2>
      Total: {{cost}}
    </h2>
    </span>
    <img class="imgItem" src="../assets/billetera.png" >
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary" (click)="pagar()"><mat-icon>payment</mat-icon>Pagar con Tpaga</button>
  </mat-card-actions>
</mat-card>
